<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap" rel="stylesheet">

<h1>You scored <%= @game.score %>/10</h1>

<h2>The first country was <%= @questions[0][0] %></h2>
<% if @results[0] == 'correct' %>
<h4>You answered <%= @answers[0] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[0] %> but the answer was <%= @questions[0][1] %>. You were incorrect. </h4>
<% end %>

<h2>The second country was <%= @questions[1][0] %></h2>
<% if @results[1] == 'correct' %>
<h4>You answered <%= @answers[1] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[1] %> but the answer was <%= @questions[1][1] %>. You were incorrect. </h4>
<% end %>

<h2>The third country was <%= @questions[2][0] %></h2>
<% if @results[2] == 'correct' %>
<h4>You answered <%= @answers[2] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[2] %> but the answer was <%= @questions[2][1] %>. You were incorrect. </h4>
<% end %>

<h2>The fourth country was <%= @questions[3][0] %></h2>
<% if @results[3] == 'correct' %>
<h4>You answered <%= @answers[3] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[3] %> but the answer was <%= @questions[3][1] %>. You were incorrect. </h4>
<% end %>

<h2>The fifth country was <%= @questions[4][0] %></h2>
<% if @results[4] == 'correct' %>
<h4>You answered <%= @answers[4] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[4] %> but the answer was <%= @questions[4][1] %>. You were incorrect. </h4>
<% end %>

<h2>The sixth country was <%= @questions[5][0] %></h2>
<% if @results[5] == 'correct' %>
<h4>You answered <%= @answers[5] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[5] %> but the answer was <%= @questions[5][1] %>. You were incorrect. </h4>
<% end %>

<h2>The seventh country was <%= @questions[6][0] %></h2>
<% if @results[6] == 'correct' %>
<h4>You answered <%= @answers[6] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[6] %> but the answer was <%= @questions[6][1] %>. You were incorrect. </h4>
<% end %>

<h2>The eighth country was <%= @questions[7][0] %></h2>
<% if @results[7] == 'correct' %>
<h4>You answered <%= @answers[7] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[7] %> but the answer was <%= @questions[7][1] %>. You were incorrect. </h4>
<% end %>

<h2>The ninth country was <%= @questions[8][0] %></h2>
<% if @results[8] == 'correct' %>
<h4>You answered <%= @answers[8] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[8] %> but the answer was <%= @questions[8][1] %>. You were incorrect. </h4>
<% end %>

<h2>The tenth country was <%= @questions[9][0] %></h2>
<% if @results[9] == 'correct' %>
<h4>You answered <%= @answers[9] %>. You were correct! </h4>
<% else %>
<h4>You answered <%= @answers[9] %> but the answer was <%= @questions[9][1] %>. You were incorrect. </h4>
<% end %>
